#myDiagramDiv {
    border: 1px solid black; 
    width: 400px; 
    height: 100px;
    float: left;
}
#userInputPanel {
    border: 1px solid black; 
    width: 300px; 
    height: 800px; 
    float: right;
}
#inputContainer {
    position: right;
    bottom: 10px;
    left: 10px;
}

#corporate_number_input, #change_button, #zoomNode, #search_button {
  margin: 0;
}

.input-section {
    margin-bottom: 20px; /* Adjust the value as needed */
}

.expand-collapse-section {
    margin-top: 20px; /* Adjust the value as needed */
}